################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GraphicsProject/obj/Debug
/GraphicsProject/bin/Debug
